@import "tailwindcss";


body {
    color: #e5d9ff;
    min-height: 100vh;
    background: radial-gradient(circle at top,
            #2a1b3d,
            #0b0613 70%);

    padding: 20px;
}

/* hide native checkbox */
.checklist-item input {
  display: none;
}

/* layout */
.checklist-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 0;
  cursor: pointer;
}

/* custom box */
.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(170,120,255,0.6);
  background: rgba(0,0,0,0.4);
  box-shadow: inset 0 0 4px rgba(150,80,255,0.3);
  position: relative;
  transition: all 0.2s ease;
}

/* checkmark */
.custom-checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid #e5d9ff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(0);
  transition: transform 0.15s ease;
}

/* checked state */
.checklist-item input:checked + .custom-checkbox {
  border-color: #a678ff;
  box-shadow: 0 0 8px rgba(150,80,255,0.8);
}

.checklist-item input:checked + .custom-checkbox::after {
  transform: rotate(45deg) scale(1);
}

/* label */
.item-label {
  font-size: 13px;
}

/* completed look */
.checklist-item.completed .item-label {
  opacity: 0.5;
  text-decoration: line-through;
}

/* hover */
.checklist-item:hover .custom-checkbox {
  box-shadow: 0 0 6px rgba(150,80,255,0.6);
}
